<!DOCTYPE html>
<head>
  <title>Get Dribbble Endpoint</title>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
    body {
      font-family: "Roboto", sans-serif;
      margin: 0;
      background: #fff;
      font-size: 18px;
    }
    h1 {
      letter-spacing: -2px;
    }
    .el {
      position: relative;
      height: 100vh;
      width: 100%;
    }
    .contents {
      padding-top: 5em;
      max-width: 800px;
      width: 100%;
      margin: auto;
    }
    input {
      outline: none;
      border: none;
      font-size: 1em;
      width: 100%;
      height: 60px;
    }

    hr {
      margin: 2em 0em;
    }

    #endpoint {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .cta {
      background-color: #ea4c89;
      color: white;
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      padding: 0.8em 1.2em;
      font-size: 0.8em;
      border-radius: 8px;
    }

    #new-token {
      display: flex;
      align-items: center;
      padding-top: 1em;
    }
    #new-token #new-token-a {
      color: #999;
      margin-left: 15px;
    }

    #coming-soon {
      padding-top: 4em;
    }
    #coming-soon h1 {
      color: #999;
    }
    #coming-soon a {
      color: #1da1f2;
    }

    @media (min-width: 600px) {
      body {
        font-size: 20px;
      }
    }
  </style>
</head>
<body></body>
