<% include ../partials/header %>

<div class="contents">
  <h1>Get your Dribbble Endpoint</h1>
  <p>
    Get an endpoint to share your dribbble work on your website or application.
    Easy to set up and use to display your awesome work.
  </p>
  <div id="new-token">
    <a
      class="cta"
      href="https://dribbble.com/oauth/authorize?client_id=e017574f6f8a1234f57e8a13e4c887efa6f82f4bcebd6095fc2cc28abe215af3&redirect_uri=https://endpoint-generator-drib.herokuapp.com/api-key"
      >Generate Access Token</a
    >
  </div>

  <div id="coming-soon">
    <h1>Code samples coming soon...</h1>
    <h5>
      Follow for updates:
      <a href="https://twitter.com/ispykenny" target="_BLANK">@ispykenny</a>
    </h5>
  </div>
</div>

<% include ../partials/footer %>
